[tool.poetry]
name = "pyriodicity"
version = "0.2.1"
description = "Pyriodicity provides intuitive and easy-to-use Python implementation for periodicity (seasonality) detection in univariate time series."

license = "MIT"
readme = ["README.md"]
repository = "https://github.com/iskandergaba/pyriodicity"

authors = ["Iskander Gaba <iskander@hey.com>"]
keywords = ["signal", "time", "series", "forecast", "analysis", "period", "periodicity", "seasonality", "trend", "cycle", "decomposition"]


[tool.poetry.dependencies]
python = "^3.10"
scipy = "^1.14.0"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.3"
pytest-cov = "^5.0.0"
statsmodels = "^0.14.3"

[tool.poetry.group.docs.dependencies]
numpydoc = "^1.8.0"
pydata-sphinx-theme = "^0.15.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
